<div class="container mt-4">

  <!-- HEADER -->
  <div
    class="d-flex
           justify-content-between
           align-items-center
           mb-4"
  >

    <div>

      <h2>
        Dashboard Administratif
      </h2>

      <p *ngIf="user">

        Bienvenue

        <strong>
          {{ user.nom }}
          {{ user.prenom }}
        </strong>

      </p>

      <p *ngIf="user">

        Service :

        <strong>
          {{ user.service }}
        </strong>

      </p>

    </div>

    <button
      class="btn btn-danger"
      (click)="logout()"
    >
      Déconnexion
    </button>

  </div>
  <!-- ===================== -->
<!-- NOTIFICATIONS -->
<!-- ===================== -->

<div class="card p-3 mb-4">

  <h4>
    Mes notifications
  </h4>

  <div
    *ngIf="
      notifications.length === 0
    "
    class="alert alert-info"
  >
    Aucune notification
  </div>

  <div
    *ngFor="
      let notification
      of notifications
    "
    class="alert alert-warning"
  >

    <h6>
      {{ notification.titre }}
    </h6>

    <p>
      {{ notification.message }}
    </p>

    <small>

      {{ notification.dateCreation }}

    </small>

  </div>

</div>

  <!-- ===================== -->
  <!-- RÉUNIONS -->
  <!-- ===================== -->

  <div class="card p-3">

    <h4>
      Réunions de mon service
    </h4>

    <table
      class="table
             table-bordered
             table-striped"
    >

      <thead>

        <tr>

          <th>Type</th>

          <th>Sujet</th>

          <th>Date</th>

          <th>Heure</th>

          <th>Salle</th>

          <th>Service</th>

        </tr>

      </thead>

      <tbody>

        <tr
          *ngFor="
            let reunion
            of reunions
          "
        >

          <td>
            {{ reunion.type }}
          </td>

          <td>
            {{ reunion.sujet }}
          </td>

          <td>
            {{ reunion.date }}
          </td>

          <td>
            {{ reunion.heure }}
          </td>

          <td>
            {{ reunion.salle }}
          </td>

          <td>
            {{ reunion.serviceConcerne }}
          </td>

        </tr>

      </tbody>

    </table>

  </div>

  <div class="card p-3 mt-4">

  <h4>
    Mes documents
  </h4>

  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Titre</th>
        <th>Type</th>
        <th>Contenu</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let document of documents">

        <td>{{ document.titre }}</td>

        <td>{{ document.type }}</td>

        <td>{{ document.description }}</td>

        <td>{{ document.dateCreation }}</td>

      </tr>

    </tbody>

  </table>

</div>

</div>

